open-project/n8n-workflows/openproject-teams-notification.json
{
  "name": "OpenProject → Teams Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openproject-events",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Webhook — OpenProject Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "openproject-events"
    },
    {
      "parameters": {
        "jsCode": "// Verify HMAC signature từ OpenProject\nconst crypto = require('crypto');\n\nconst secret = $env.OPENPROJECT_WEBHOOK_SECRET;\nconst signature = $input.first().headers['x-op-signature-256'] || '';\nconst body = JSON.stringify($input.first().body);\n\nif (secret && signature) {\n  const expected = 'sha256=' + crypto\n    .createHmac('sha256', secret)\n    .update(body)\n    .digest('hex');\n  if (signature !== expected) {\n    throw new Error('Invalid webhook signature');\n  }\n}\n\nconst event = $input.first().body;\nconst action = event.action || 'unknown';\nconst wp = event.work_package || {};\nconst project = wp._links?.project || {};\nconst assignee = wp._links?.assignee || {};\nconst author = event._links?.user || {};\n\n// Map action → label dễ đọc\nconst actionLabel = {\n  'work_package:created': '🆕 Work Package mới',\n  'work_package:updated': '✏️ Work Package cập nhật',\n  'work_package:closed': '✅ Đã đóng',\n  'work_package:moved': '↗️ Chuyển project',\n  'comment:created': '💬 Comment mới',\n  'time_entry:created': '⏱️ Log giờ',\n}[action] || `📋 ${action}`;\n\n// Màu theo status/type\nconst status = wp._links?.status?.title || wp.status || '';\nconst statusColor = {\n  'New': '0078D4',\n  'In Progress': 'F7630C',\n  'In Review': '8764B8',\n  'Closed': '107C10',\n  'Rejected': 'D13438',\n}[status] || '0078D4';\n\nconst wpUrl = `https://openproject.bee.vn/work_packages/${wp.id}`;\nconst projectUrl = project.href ? `https://openproject.bee.vn${project.href}` : null;\n\nreturn [{\n  json: {\n    action,\n    actionLabel,\n    statusColor,\n    wp: {\n      id: wp.id,\n      subject: wp.subject || '(không có tiêu đề)',\n      status,\n      type: wp._links?.type?.title || '',\n      priority: wp._links?.priority?.title || '',\n      dueDate: wp.dueDate || null,\n      url: wpUrl,\n    },\n    project: {\n      name: project.title || '',\n      url: projectUrl,\n    },\n    assignee: {\n      name: assignee.title || 'Chưa gán',\n    },\n    actor: {\n      name: author.title || 'Hệ thống',\n    },\n    comment: event.comment?.raw || null,\n    changes: event.details || [],\n  }\n}];"
      },
      "id": "parse-event",
      "name": "Parse & Verify Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "filter-ping",
              "leftValue": "={{ $json.action }}",
              "rightValue": "ping",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-ping",
      "name": "Bỏ qua Ping",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build Microsoft Teams Adaptive Card\nconst d = $input.first().json;\n\nconst facts = [];\n\nif (d.wp.type) facts.push({ title: 'Loại', value: d.wp.type });\nif (d.wp.status) facts.push({ title: 'Trạng thái', value: d.wp.status });\nif (d.wp.priority) facts.push({ title: 'Ưu tiên', value: d.wp.priority });\nif (d.assignee.name) facts.push({ title: 'Được gán cho', value: d.assignee.name });\nif (d.wp.dueDate) facts.push({ title: 'Deadline', value: d.wp.dueDate });\nif (d.project.name) facts.push({ title: 'Project', value: d.project.name });\n\n// Changes detail (cho work_package:updated)\nconst changeLines = (d.changes || [])\n  .filter(c => c.field_name !== 'updated_at')\n  .map(c => `**${c.field_name}**: ${c.old_value ?? '—'} → ${c.new_value ?? '—'}`)\n  .join('\\n\\n');\n\nconst bodyBlocks = [\n  {\n    type: 'TextBlock',\n    text: d.actionLabel,\n    weight: 'Bolder',\n    size: 'Medium',\n    color: 'Accent',\n    wrap: true,\n  },\n  {\n    type: 'TextBlock',\n    text: `[#${d.wp.id} — ${d.wp.subject}](${d.wp.url})`,\n    wrap: true,\n    size: 'Default',\n  },\n];\n\nif (facts.length > 0) {\n  bodyBlocks.push({\n    type: 'FactSet',\n    facts: facts,\n  });\n}\n\nif (changeLines) {\n  bodyBlocks.push(\n    { type: 'TextBlock', text: 'Thay đổi:', weight: 'Bolder', spacing: 'Medium' },\n    { type: 'TextBlock', text: changeLines, wrap: true, isSubtle: true }\n  );\n}\n\nif (d.comment) {\n  bodyBlocks.push(\n    { type: 'TextBlock', text: 'Comment:', weight: 'Bolder', spacing: 'Medium' },\n    { type: 'TextBlock', text: d.comment, wrap: true, isSubtle: true }\n  );\n}\n\nbodyBlocks.push({\n  type: 'TextBlock',\n  text: `Bởi: ${d.actor.name}`,\n  isSubtle: true,\n  spacing: 'Medium',\n});\n\nconst card = {\n  type: 'message',\n  attachments: [\n    {\n      contentType: 'application/vnd.microsoft.card.adaptive',\n      content: {\n        '$schema': 'http://adaptivecards.io/schemas/adaptive-card.json',\n        type: 'AdaptiveCard',\n        version: '1.4',\n        body: bodyBlocks,\n        actions: [\n          {\n            type: 'Action.OpenUrl',\n            title: 'Xem Work Package',\n            url: d.wp.url,\n          },\n        ],\n        msteams: {\n          width: 'Full',\n        },\n      },\n    },\n  ],\n};\n\nreturn [{ json: { card } }];"
      },
      "id": "build-card",
      "name": "Build Adaptive Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.card) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-teams",
      "name": "Gửi lên Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"⚠️ n8n error gửi notification: {{ $json.error.message }}\"}",
        "options": {}
      },
      "id": "error-alert",
      "name": "Alert lỗi lên Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 500]
    }
  ],
  "connections": {
    "Webhook — OpenProject Events": {
      "main": [[{ "node": "Parse & Verify Event", "type": "main", "index": 0 }]]
    },
    "Parse & Verify Event": {
      "main": [[{ "node": "Bỏ qua Ping", "type": "main", "index": 0 }]]
    },
    "Bỏ qua Ping": {
      "main": [[{ "node": "Build Adaptive Card", "type": "main", "index": 0 }]]
    },
    "Build Adaptive Card": {
      "main": [[{ "node": "Gửi lên Teams", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
